{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "header_image.html" . }}

<section id="researchers" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ .Title | default (i18n "researchers") }}</h1>

      {{ with .Content }}
        {{ . }}
      {{ end }}

      <h3>Miembros actuales</h3>

      <div class="row isotope projects-container js-layout-masonry">

        {{ range where .Site.Pages "Params.group_membership" "actual" }}

          <div class="col-xs-12 col-md-4 project-item isotope-item">
            <div class="researcher-card" itemscope itemtype="http://schema.org/Person">

              <a href="" title="" class="portrait"
                 {{ $.Scratch.Get "target" | safeHTMLAttr }}>
                <img id= "round-image" src="{{ "/img/" | relURL }}{{ .Params.avatar }}" alt="" class="img-responsive">
              </a>

              <p><a href="{{ .Permalink }}" itemprop="name">{{ .Title }}</a></br>
              {{ .Params.jobtitle }}</p>
            </div>
          </div>
        {{ end }}

      </div>

      <h3>Miembros anteriores</h3>

      <div id="container-researchers">

        {{ range where .Site.Pages "Params.group_membership" "anterior" }}
          <i class="fa fa-user" aria-hidden="true"></i>
          {{ .Title }} <i>({{ .Params.jobtitle }})</i>

        {{ end }}

      </div>

  </div>
</section>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
